body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

.responsive-bar {
  display: none;
  
}

  .op
  {
    display: flex;
    justify-content: space-around;
    max-width: 1550px;
    margin: 0 auto;
    background-color: #010214;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:fit-;
  }


nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

nav.black {
  background:white;
  height: 80px;
  padding: 10px 50px;
}
.mm
{
  color: #fff;
}



nav > ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  float: right;
}

nav > ul > li {
  list-style: none;
  display: inline-block;
}

.fgh
{
  color:white;
}


nav > ul > li > a {
  color:white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 80px;
  padding: 5px 20px;
  transition: 0.5s;
}

nav.black > ul > li > a {
  color: #fff;
  line-height: 60px;
}

section.sec1 {
  width: 100%;
  height: 100vh;
  background: url(https://e0.pxfuel.com/wallpapers/308/977/desktop-wallpaper-tea-plant-nature-plants-agro-plants-outdoors-leaves-field-resolution.jpg)
    center/cover;
  background-size: cover;
}

section.content {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

section.sec2 {
  width: 100%;
  height: 100vh;
  background: url(https://e0.pxfuel.com/wallpapers/308/977/desktop-wallpaper-tea-plant-nature-plants-agro-plants-outdoors-leaves-field-resolution.jpg)
    center/cover;
  background-size: cover;
}

@media (max-width: 768px) {
  .responsive-bar {
    display: block;
    width: 100%;
    height: 60px;
    background: url(your-image-url-here) center/cover;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    z-index: 1;
  }


  .responsive-bar .logo img{
      
          float: none;
          margin: 0 auto;
          display: block;
          height: 50px;
       
  }
  .responsive-bar .menu h4{
      float: right;
      color: #fff;
      margin: 0;
      padding: 0;
      line-height: 50px;
      cursor: pointer;
      text-transform: uppercase;
  }
  nav{
      padding: 0;
  }
  nav,
  nav.black{
  background: #262626;
  height: 60px;
  padding: 0;
  }
  nav .logo{
      display: none;
  }
  nav ul{
      position: absolute;
      width: 100%;
      top: 60px;
      left: 0;
      font-family:'Times New Roman', Times, serif;
      background: #262626;
      float: none;
      display: none;
  }
  nav ul.active{
      display: block;
  }
  nav ul li{
      width: 100%;
  }
  nav ul li a{
      display: block;
      padding: 0;
      width: 100%;
      text-align: center;
      line-height: 30px !important;
      color: #fff;
      
  }
  .qa
  {
    color: #1CB5E0;
    width:200px;
    height: 1000px;
    background-color: #1CB5E0;
  }

  nav > ul{
      width: 100%;
      display: none;
  }
  nav > ul > li{
      display: block;
      text-align: center;
      font-size: 20px;
  }
  .active{
      display: block;
  }
  
}