/* AdminJob.css */
.pinn
{
  color: white;
  font-size: 25px;
}

.admin-job-container {
  margin: 20px;
}


.job-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 20px 48px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 28px;
}

.job-table th,
.job-table td {
  border: 1px solid #d8d3d3;
  padding: 8px;
  text-align: left;
}

.job-table th {
  background-color: #615f5f;
  color: #fff;
}

.job-table td img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.job-table th h2 {
  display: inline-block;
  border-bottom: 2px solid #7180df;
  padding-bottom: 5px;
  margin-bottom: 10px;
  animation: headingAnimation 1s ease-in-out infinite alternate;
}

@keyframes headingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.erf
{
  width:80px;
  height:50px;
  color: black;
  background-color:#154ae9;
}
.ern
{
  width:80px;
  height:50px;
  color: black;
}
.add-job-form {
  display: flex;
  margin-top: 20px;
}

.add-job-form input {
  margin-right: 10px;
  padding: 8px;
}

.add-btn,
.update-btn {
  padding: 10px;
  background-color:#154ae9;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width:290px;
  height:60px;
}

.add-btn:hover,
.update-btn:hover {
  background-color:#2b52e0;
  transform: scale(1.05);
 
}

.add-btn:focus,
.update-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
