/* AppForm.css */

.app-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:fit-content;
  width: 1900px;
  color:white;
  margin-left:650px;
}

.app-form {
  max-width: 600px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1.juiop {
  text-align: center;
  color:white;
}

.form-label {
  display: block;
  margin: 15px 0 5px;
  font-size: 16px;
  color: white;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
}
